SPRING_PROFILES_ACTIVE=dev
SPRING_DATA_MONGODB_URI= ${SPRING_DATA_MONGODB_URI:mongodb://cart_admin:cartPassword123@ac-od1lz4x-shard-00-00.idltrvz.mongodb.net:27017,ac-od1lz4x-shard-00-01.idltrvz.mongodb.net:27017,ac-od1lz4x-shard-00-02.idltrvz.mongodb.net:27017/cart_checkout?authSource=admin&replicaSet=atlas-11i2ik-shard-0&ssl=true}
REDIS_HOST=localhost
REDIS_PORT=6379
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
JWT_SECRET=replace-with-a-long-random-secret
JWT_EXPIRATION_MS=86400000
JWT_REFRESH_EXPIRATION_MS=604800000
